<ion-view view-title="delivery24horas.com" ng-controller="ProductsCtrl">
    <div class="bar bar-subheader item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Busca de produtos" ng-model="query">
      </label>
      <button class="button button-clear" ng-click="query = ''">
        Cancel
      </button>
    </div>
    <ion-content class="has-subheader">
        <ion-refresher pulling-text="Deslize para Atualizar" on-refresh="doRefresh()"></ion-refresher>

        <div class="list">

          <div class="item item-divider">
            {{ rootCategoriaSelecionada }}
          </div>

          <a class="item item-thumbnail-left" href="#" ng-repeat="produto in products | filter: query" ng-class="{deliveryProductBlockCenter: true}">
            <img ng-src="{{ imagesUrl+produto.imagem }}" alt="Imagem do produto {{ produto.nome }}" title="Imagem do produto {{ produto.nome }}">
            <h2> Cerveja</h2>
            <p>{{ produto.nome }}</p>
            <p>{{ produto.valorUnitVenda | currency }}</p>
          </a>

        </div>

    </ion-content>
</ion-view>