/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../fonts" !default;

// Include all of Ionic
@import "resources/lib/ionic/scss/ionic";
@import "resources/lib/font-awesome/scss/font-awesome";
//@import "resources/lib/ionicons/scss/ionicons";
//@import "resources/lib/bootstrap-sass/assets/stylesheets/_bootstrap";

$break-mini: 320px;
$break-small: 425px;
$break-large: 1024px;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.delivery-bar-title {
  left: auto !important;
  right: auto !important;
  font-size: 17px !important;
}

.marging {
  margin: 0px 5px;
}

.modal-backdrop-bg {
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  background-color: #000;
  opacity: 0.5;
}

.margin-left-off{
  margin-left: 0px !important;
}

.address-item{
  white-space: normal;
  >div>.item-content{
    white-space: normal;
    padding-left: 5px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    min-height: 48px !important;
    font-size: 14px;
  }
  > button {
    margin: 5px;
    max-height: none;
    line-height: normal;
  }
}

.img-thumbnail-facebook{
  width: 32px;
  padding: 3px 0px 3px 3px;
}


.bar-stable {
  background-image: none !important;
}
.bar {
  border: 0;
}
.bar-subheader {
  border-bottom: 1px solid #ddd;
}

.btn-social {
  position: relative;
  padding-left: 44px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 185px;
  display: block;

  /* facebook */
  color: #ffffff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-social > :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.delivery-logo-block {
  width: 100%;
  text-align: center;
  > img {
    width: 150px;
  }
}

.delivery-list {
  background-color: transparent;
  margin: 0px;
  > div {
    border-color: transparent;
    padding: 5px;
  }
}

.card, .list-inset {
  margin: 10px;
}

.resultCount{
  padding-top: 0px;
  padding-bottom: 0px;
  > span {
    font-style: italic;
    float: right;
    font-size: smaller;
  }

}

@mixin respond-to($media) {
  @if $media == mini-handhelds {
    @media only screen and (max-width: $break-mini) {
      @content;
    }
  } @else if $media == handhelds {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  } @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
      @content;
    }
  } @else if $media == min-medium-screens {
    @media only screen and (min-width: $break-small + 1) {
      @content;
    }
  } @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  }
}

.delivery-menu-left{
  @include respond-to(handhelds) {
    position: fixed;
    top: 5px;
    left: 0px;
    max-width: 52px;
    > button {
      border-radius: 0px;
      margin: 0px 0px 2px;
      display: inline-block;
      float: left;
      font-size: 10px;
      line-height: 14px;
      max-width: 52px;
      padding: 0px 2px;
      >p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  @include respond-to(min-medium-screens) {
    display: none;
  }
}

.range{
  padding: 2px 0px;
  > input{
    margin-right: 5px;
    margin-left: 5px;
  }
  @include respond-to(mini-handhelds) {
    > input{
      display: none;
    }
  }
}

.delivery-list-with-menu{
  @include respond-to(handhelds) {
    padding-left: 55px;
    //position: relative;
    >div {
      margin: 0px;
    }
  }
}

.fix-to-top{
  @include respond-to(handhelds) {
    > div > .delivery-list-with-menu > div:first-child{
      display: none;
    }
  }
}

.delivery-btn-social{
  @include respond-to(handhelds) {
    height: 50px;
    > button {
      font-weight: 400;
      font-size: 13px !important;
      line-height: 32px !important;
      width: auto;
    }
  }
  @include respond-to(min-medium-screens) {
    display: none;
  }
}
.delivery-btn-social-header{
  @include respond-to(handhelds) {
    display: none;
  }
}

.price{
  @extend .h3;
  margin-bottom: 5px;
  font-size: 20px !important;
}
.quantity{
  font-size: 22px;
  color: green;
  font-weight: bold;
}

.delivery-product-item {

  > div > h3 {
    margin-bottom: 5px;
    font-size: 20px !important;
  }
  > div > h3 > small > span {
    font-size: 22px;
    color: green;
    font-weight: bold;
  }
  > div > p {
    margin-bottom: 0px;
    white-space: normal;
  }
  @include respond-to(handhelds) {
    > img:first-child {
      width: auto;
    }
  }
  //@include respond-to(medium-screens) { width: 125px; }

  @include respond-to(min-medium-screens) {
    display: inline-block;
    float: left;
    width: 200px;
    height: 250px;
    margin: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border .2s ease-in-out;
    //@extend .text-center;
    text-align: center;
    //@extend .padding;
    padding: 5px;

    > img:first-child {
      width: 80px;
      height: 80px;
      //display: block;
      //max-width: 100%;
      //height: auto;
    }

    > div:first-of-type {
      height: 100px;
    }

  }
}