<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"
                        ng-hide="$exposeAside.active"></button>
                <div class="delivery-bar-title title">delivery24horas.com</div>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button ng-if="cordova" class="delivery-btn-social-header button button-positive btn-social">
                    <i class="ion-social-facebook"></i>Entrar com Facebook
                </button>

                <!--<button class="button marging" ng-class="{'button-clear': (valorTotal=0), 'button-balanced': (valorTotal>0)}">-->
                <button class="button marging"
                        ng-click="CartService.showCart()"
                        ng-class="(valorTotal>0)?'button-balanced': 'button-clear'">
                <!--<button class="button button-clear">-->
                    <i class="ion-android-cart"></i> ({{ valorTotal | currency }})
                </button>

            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu expose-aside-when="large">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ion-refresher pulling-text="Deslize para Atualizar" on-refresh="doRefresh()"></ion-refresher>
            <div class="list list-inset">
                <div class="item item-divider">Categorias</div>

                <a href="#/app/productlist" class="item item-icon-left"
                   menu-close ng-click="loadCategoria('Todas');loadProducts()">
                    <i class="icon ion-beer"></i>
                    Todas
                </a>
                <a ng-repeat="item in categorias" href="#/app/productlist" class="item item-icon-left"
                   menu-close ng-click="loadCategoria(item.nome);loadProducts(item.id)">
                    <i class="{{ item.icon }}"></i>
                    {{ item.nome }}
                </a>

                <!--<div class="item item-divider">Relatórios</div>-->
                <!--<a href="#/app/report" class="item item-icon-left" menu-close>-->
                    <!--<i class="ion-document-text"></i>-->
                    <!--Relatórios-->
                <!--</a>-->
                <!--<a href="#/app/browse" class="item item-icon-left" menu-close>-->
                    <!--<i class="ion-document-text"></i>-->
                    <!--Browse-->
                <!--</a>-->

                <!--<div class="item item-divider">Minha conta</div>-->
                <!--<div class="item">Meus Dados</div>-->
                <!--<div class="item">Trocar Senha</div>-->
                <!--<div class="item">Sair</div>-->

            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>