<ion-view view-title="">
    <div class="bar item-input-inset" ng-class="{'bar-subheader': minMediumScreens}">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Busca de produtos" ng-model="query">
        </label>
        <button ng-if="query.length"
                class="input-button button button-icon ion-close-circled"
                ng-click="clearSearch()">
        </button>
        <!--<button class="button button-clear" ng-click="query = ''">-->
            <!--Cancelar-->
        <!--</button>-->
    </div>
    <ion-content ng-class="{'has-subheader': minMediumScreens, 'has-header': handhelds}">
        <ion-refresher pulling-text="Deslize para Atualizar" on-refresh="doRefresh()"></ion-refresher>

        <div class="list delivery-list delivery-list-with-menu">
            <div ng-if="cordova" class="item item-button-right delivery-btn-social">
                <button ng-show="!user.userID" class="button btn-social" ng-click="facebookSignIn()">
                    <i class="ion-social-facebook"></i>Entrar com Facebook
                </button>
                <button ng-show="user.userID" class="button btn-social" ng-click="showLogOutMenu()">
                    <i class="ion-social-facebook"></i>Sair {{ user.name }} <img class="img-thumbnail-facebook" ng-src="{{ user.picture }}">
                </button>
            </div>
            <div class="item" ng-if="!cordova">
                <div id="fb-root"></div>
                <!--<fb:login-button scope="public_profile,email" onlogin="console.log(angular);">-->
                <!--</fb:login-button>-->
                <div class="fb-login-button" data-max-rows="1" data-size="medium"
                     data-scope="public_profile,email,user_birthday" data-show-faces="true" data-auto-logout-link="true"></div>
                <!--<div id="status"></div>-->
            </div>
            <div class="item">
                <div class="delivery-logo-block">
                    <img ng-src="{{logoUrl+'logo-delivery2-resized-compressed.png'}}">
                    <!--<p ng-hide="$exposeAside.active"><span class="ion-arrow-left-a"></span> Acesse o Menu ao lado</p>-->
                </div>
            </div>

        </div>

        <div class="delivery-list-with-menu">

            <div ng-class="{card: minMediumScreens, list: handhelds, 'list-inset': handhelds}" class="padding-right">
                <div class="item item-divider">{{ rootCategoriaSelecionada }}</div>
                <div class="item resultCount" ng-if="query.length"><span>{{ filtered.length }} de {{ products.length }}</span></div>
                <div class="delivery-product-item" ng-class="{item: handhelds, 'item-thumbnail-left': handhelds}"
                     ng-repeat="produto in filtered = (products | filter: query)">
                     <!--ng-repeat="produto in products | filter: query as filtered">-->

                    <img ng-src="{{ prepareImage(produto.imagem) }}"
                         alt="Imagem do produto {{ produto.nome }}"
                         title="Imagem do produto {{ produto.nome }}">
                    <div>
                        <span class="price">{{ produto.valor | currency }}<small ng-show="quantidade[produto.id]>0"> x <span class="quantity">{{ quantidade[produto.id] }}</span></small></span>
                        <p>{{ produto.nome }}</p>
                    </div>

                    <div class="range">
                        <button ng-click="decrementa(produto.id)" class="button button-light"><i class="icon ion-chevron-left"></i></button>
                        <input type="range" ng-change="somaTotal()" id="quantidade[{{ produto.id }}]"
                               name="quantidade[{{ produto.id }}]" ng-model="quantidade[produto.id]"
                               min="0" max="{{ produto.max }}">
                        <button ng-click="incrementa(produto.id)" class="button button-light"><i class="icon ion-chevron-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="delivery-menu-left">
            <button ng-click="loadProducts();loadCategoria('Todas');"
                    class="delivery-button button button-stable">
                <i class="icon fa fa-globe"></i>
                <p>Todas</p>
            </button>
            <button ng-click="loadProducts();loadCategoria('Favoritos');"
                    class="delivery-button button button-stable">
                <i class="icon fa fa-star"></i>
                <p>Favoritos</p>
            </button>
            <button ng-click="loadProducts(item.id);loadCategoria(item.nome);"
                    ng-repeat="item in categorias"
                    class="delivery-button button button-stable">
                <i class="{{ item.icon }}"></i>
                <p>{{ item.nome }}</p>
            </button>
        </div>
    </ion-content>

</ion-view>