<ion-view>
    <ion-header-bar>
        <h1 class="title">Carrinho de Compras</h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="closeCart()">Fechar</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="text-center" ng-hide="valorTotal>0">
            <button class="button button-large button-full button-dark" ng-click="closeCart()">
                Nenhum item selecionado
            </button>
        </div>

        <div class="list list-inset" ng-show="valorTotal>0">
            <div class="item item-divider">Itens</div>
            <div class="item item-button-right" ng-repeat="item in cartItems">
                <p>{{ item.nome }}</p>
                <span class="quantity">{{ item.quantidade }} <small>x</small> </span><span class="price">{{ item.valor | currency }}</span>
                <button class="button button-light" ng-click="removeCartItem(item.id)">
                    <i class="icon ion-close-circled"></i>
                </button>
            </div>
        </div>

        <form class="cancelEnter" ng-submit="doDelivery()" ng-show="valorTotal>0">
            <div class="list">
                <div class="item item-divider">Forma de Pagamento</div>

                <div class="item text-center">
                    Valor Total: <span class="price">{{ valorTotal | currency }}</span>
                    <ion-list class="text-left">
                        <ion-radio ng-model="cartData.pagamento" ng-value="'dinheiro'">Dinheiro</ion-radio>
                        <ion-radio ng-model="cartData.pagamento" ng-value="'debito'">
                            <div class="pull-left">Cartão Debito</div>
                            <div class="pull-right">
                                <i class="fa fa-cc-visa fa-2x"></i>
                                <i class="fa fa-cc-mastercard fa-2x"></i>
                                <i class="fa fa-cc-diners-club fa-2x"></i>
                            </div>

                        </ion-radio>
                        <ion-radio ng-model="cartData.pagamento" ng-value="'credito'">
                            <div class="pull-left">Cartão Crédito</div>
                            <div class="pull-right">
                                <i class="fa fa-cc-visa fa-2x"></i>
                                <i class="fa fa-cc-mastercard fa-2x"></i>
                                <i class="fa fa-cc-diners-club fa-2x"></i>
                            </div>
                        </ion-radio>
                    </ion-list>
                </div>
                <div class="item">

                </div>

                <div class="item item-divider">Dados da Entrega</div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nome:</span>
                    <input type="text" name="nome" ng-model="cartData.nome" placeholder="Ex.: João da Silva">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">E-mail:</span>
                    <input type="email" name="email" ng-model="cartData.email" placeholder="Ex.: exemplo@gmail.com">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Telefone:</span>
                    <input type="tel" name="telefone" ng-model="cartData.telefone" placeholder="Ex.: (22)999 999 999">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Whatsapp:</span>
                    <input type="tel" name="whatsapp" ng-model="cartData.whatsapp" placeholder="Ex.: (22)999 999 999">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">CEP:</span>
                    <input type="tel"
                           class="numbersOnly cancelEnter cepKeyUp"
                           autocomplete="off"
                           ng-model="cartData.cep" placeholder="Ex.: 28893818"
                           maxlength="8">
                </label>
                <label class="item item-input item-stacked-label item-button-right">
                    <span class="input-label">Endereço:</span>
                    <input type="text"
                           class="cancelEnter enderecoKeyUp"
                           autocomplete="off"
                           ng-model="cartData.endereco" placeholder="Ex.: Av. Brasil">
                    <div class="list list-inset" ng-show="cartData.matches.length>0">
                        <div class="item item-divider">Endereços encontrados:</div>
                        <label class="item address-item" ng-repeat="address in cartData.matches">
                            <button class="button button-small button-light" type="button"
                                    ng-click="selecionaEndereco(address)">
                                {{address.logradouro}} {{address.complemento}} - CEP: {{address.cep}} - Bairro: {{address.bairro}}
                            </button>
                        </label>
                    </div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Bairro:</span>
                    <input type="text" name="bairro" ng-model="cartData.bairro" placeholder="Ex.: Centro">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Número:</span>
                    <input type="text" name="numero" ng-model="cartData.numero" placeholder="Ex.: 999">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Complemento: <small>(opcional)</small></span>
                    <input type="text" name="complemento" ng-model="cartData.complemento" placeholder="Ex.: apartamento 109">
                </label>

                <label class="item">
                    <button class="button button-block button-positive" type="submit">Solicitar Entrega</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
